#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#btnContainer{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(216, 67%, 66%);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color:  hsl(216, 96%, 55%);
    
}